<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.base.mapper.AirportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.module.base.entity.Airport">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="city" property="city" />
        <result column="cityEnglish" property="cityEnglish" />
        <result column="country" property="country" />
        <result column="ordinal" property="ordinal" />
        <result column="address" property="address" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, city, cityEnglish, country, ordinal, address
    </sql>

</mapper>
